.redtest{
    background-color: #50d1ee;
}
.bluetest{
    
 background-color: #7beec0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.card-text {
    text-align: left !important;
}
.hero-body {
    background-color: rgba(9, 97, 211, 0.507);
    text-align: center;
}



@media only screen and (min-width: 600px) {
     }
@media only screen and (min-width: 768px) {
        }
@media only screen and (max-width: 425px){
    
}
          

    