.redtest{
    background-color: #50d1ee;
}
.bluetest{
    
 background-color: #7beec0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.card-text {
    text-align: left !important;
}
.hero-body {
    background-color: rgba(9, 97, 211, 0.507);
}