.redtest{
  background-color: #50d1ee;
}
.bluetest{
  
background-color: #7beec0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.hero-body {
  background-color: rgba(9, 97, 211, 0.507);
  
}

#btn {
    border: 10px;
    background-color: whitesmoke (360, 91%, 36%);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
      0px;
    color: black (0, 0%, 100%);
    display: inline-block;
    font-size: 11px;
    line-height: 11px;
    margin: 8px 8px 8px 10px;
    padding: 7px 17px;
    text-align: center;
    cursor: pointer;
  }
  #btn:hover {
    background-color: gainsboro;
  }